.page_box{background:#f1f1f1;padding:.9375rem;padding-bottom:2.5rem;}
.page_content{display:block;padding:.5rem;background:#FFFFFF;color:#2b313d;font-size:.75em;line-height:1.125rem;}
.page_content h2{display:block; text-align:center;font-size:1rem;margin-bottom:1rem}
.page_content h3{ display:block;font-size:.875rem;}
.page_content h4{ text-align:center;line-height:4.375rem;font-weight:400;;}
.page_content a{color:#2b313d;}
