.cbk-title{margin:0.5rem 0 0.3rem 5%;font-size: 0.875rem;color:#f0484e;width: 90%;}
.cbk-content{width: 90%;margin: 0 auto;font-size: 0.875rem;}
.cbk-content a{color: #f0484e;}
.cbk-foot{text-align: center;margin: 1rem 0;}
.rw-6{text-align: center;margin-top: 1rem;}
.rw-6 a{width: 90%;margin: 0 auto 0.688rem;text-align: center;font-size:0.938rem;height:2.75rem;color: #FFFFFF;border-radius: 5px;display: block;background-color: #f0484e; line-height: 2.75rem; }

.rw-8{font-size:0.75rem;color:#848999;margin-left: 5%; line-height: 1.5rem;margin-bottom: 1.188rem;}
.rw-8 img{width: 0.875rem;vertical-align: -4px;margin-right: 4px;}
.rw-8 .p1 a{color:#848999;margin-right: 3px;}
.rw-8 .p2 a{color:#848999;}
.rw-8 ol{margin-left: 0.8rem;width: 90%;margin-bottom: 1.188rem;}
