@charset "utf-8";
/* CSS Document */
body{background-color: #ffffff;    color: #2b313d;}
ol{width: 85%;margin: 20px auto 10px;line-height: 28px; padding-left: 15px;}
ol li{}
p{text-align: center;width: 100%;margin-bottom: 20px;}