@media screen and (min-width: 460px) {
  .wh_item_date:hover {
    /*background: #71c7a5;*/
    cursor: pointer;
  }
}
* {
  margin: 0;
  padding: 0;
}
.wh_container {overflow: hidden;
  max-width: 700px;width: 100%;z-index: 10;
}

li {
  list-style-type: none;
}

.wh_content_all {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  width: 100%;background-color: #fff;
  overflow: hidden;
  padding-bottom: 8px;

}
.topPos{
     position: fixed;left:0;top:0;
  width: 100%;max-width: 700px;
  background-color: #ffffff;z-index: 21;
}
.topPos .wh_top_changge {
  display: flex;
}

.topPos .wh_top_changge li {
  cursor: pointer;
  display: flex;
  color: #2B313D;
  font-size: 0.688rem;
  flex: 2;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
}

.topPos .wh_top_changge .wh_content_li {
  cursor: auto;font-size: 0.813rem;
  flex: 1;
}
.topPos .calDateTk{overflow:hidden;color:#848999;}
.topPos .calDateTk .cont{overflow:hidden;height: 9.2rem;}
.topPos .calDateTk .cont ul{height: 9.5rem;overflow-y: scroll;width: 50%;
  text-align:center;float: left;font-size: 0.75rem;}
.topPos .calDateTk .cont ul li{line-height: 2.25rem;border-bottom: 1px #eeeeee solid;}
.topPos .calDateTk .cont ul li.on{color: #2b313d;font-size: 1rem;}
.topPos .calDateTk .cdBtn{width: 80%;margin: 1rem auto;text-align: center;border: 1px #f0484e solid;padding: 0.5rem 0;border-radius: 0.5rem;color:#f0484e;}
.topPos .calDateTk .mrBtn{}
.topPos .calDateTk .mrBtn li{width: 33%;float: left;text-align:center;font-size: 0.813rem;color: #F0484E;height:2.5rem;line-height:2.5rem; }

.wh_content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
  width: 100%;
  z-index:20;
}

.wh_content:first-child .wh_content_item_tag,
.wh_content:first-child .wh_content_item {
  color: #ddd;
  font-size: 0.5rem;
}

.wh_content_item,
wh_content_item_tag {
  font-size: 0.813rem;
  width: 14%;
  text-align: center;
  color: #CED2D8;
  position: relative;
}
.wh_content_item {
  height: 2.85rem;
}

.wh_top_tag {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wh_item_date {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.wh_item_date2 {
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #2b313d;
}

.wh_jiantou1 {
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #2B313D transparent transparent ;
}

.wh_jiantou1:active,
.wh_jiantou2:active {
  border-color: #ddd;
}
.wh_jiantou1.invaild{border-color: transparent #DFE3EB transparent transparent ;}
.wh_jiantou2.invaild{border-color:transparent transparent transparent #DFE3EB;}
.wh_jiantou2 {
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2B313D;
}
.wh_content_item > .wh_isMark {
  margin: auto;
  border-radius: 100px;
  background: blue;
  z-index: 2;
}
.wh_content_item .wh_other_dayhide {
  color: #ced2db;border: 0;
}

.wh_content_item .wh_chose_day {
  background: green;
  border-radius: 100px;
}
.wh_content_item > div.wh_chose_finish{background-color: #717583;color:#fff;}
.wh_content_item > div.wh_chose_ing{background-color: #f0484e;color:#fff;}
.wh_content_item > div.wh_chose_pre{background-color: #558aea;color:#fff;}
.wh_content_item > div.wh_chose_com{background-color: #7F8389;color:#fff;}
.wh_content_item > div.wh_chose_no_repay{background-color: #F2F4F8;color:#2B313D;}

.wh_content_item > .cal_color_finish{border:1px #717583 solid;color: #717583;}
.wh_content_item > .cal_color_ing{border:1px #f0484e solid;color: #f0484e;}
.wh_content_item > .cal_color_pre{border:1px #558aea solid;color: #558aea;}
.cal_color_com{color: #2b313d;}

.wh_example{background-color: #F2F4F8;overflow: hidden;padding: 0.5rem 0;margin-top: 2.3rem;}
.wh_example span{float: left;font-size: 0.75rem;}
.wh_example .span1{width: 0.5rem;height: 0.5rem;margin-top: 0.35rem;
  border-radius: 50%;background-color:#717583; margin-left: 5%;margin-right: 1%;}
.wh_example .span2{width: 0.5rem;height: 0.5rem;margin-top: 0.35rem;
  border-radius: 50%;background-color:#f0484e;margin-left: 5%;margin-right: 1%;}
.wh_example .span3{width: 0.5rem;height: 0.5rem;margin-top: 0.35rem;
  border-radius: 50%;background-color:#558aea;margin-left: 5%;margin-right: 1%;}
.wh_example .spanf{}
.wh_example .spanAsk{width: 1rem;float: right;margin-right: 5%;}
.wh_example .spanAsk img{width: 100%;}
.updateTime{height: 2rem;line-height: 2rem;text-align: center;font-size: 0.75rem;margin-top: 1rem;
color: #CED2D8;}
.weekItemColor{
  color: #2b313d;}
