/*列表页 */


.riskWarnings{background:#FFFFFF;padding:.9375rem 1.25rem;}
.riskWarnings h2{ display:block;line-height:1.5;font-size:.9375rem;font-weight:400;color:#848999}
.riskWarnings .content{font-size:.875rem;line-height:1.40625rem;}