@charset "utf-8";
/* CSS Document */
/*账户信息*/
.infoPart1{height: 2.75rem;background-color: #fff;padding: .75rem 1rem;height:auto;overflow:hidden;margin-bottom:.5625rem}
.infoPart1 .left{float: left;width:2.75rem;height:2.75rem;border-radius:2.75rem;overflow:hidden;margin-right:.75rem; position:relative;;}
.infoPart1 .left img{width: 100%;float:left; position: relative;}
.infoPart1 .right{margin-left:3.5rem;}
.infoPart1 .right .p1{font-size: 0.875rem;}
.infoPart1 .right .p2{font-size: 1rem;margin-top: 2px;line-height:2.75rem;color:#323642;}
.infoPart1 .right .p2 span{float:right; white-space: nowrap;font-size:.875rem;color:#848999}
.infoPart2{  background-color: #fff;color: #2b313d;  border-top: 1px #DFE3EB solid;border-bottom: 1px #DFE3EB solid;margin-bottom: 20px;}
.infoPart2 .div1{padding: 1rem 0;  margin-left: 5%;font-size: 0.85rem;overflow: hidden;}
.infoPart2 .div1 a{display: block;overflow: hidden;position: relative;}
.infoPart2 .div1 .span1{  width:1rem;display: inline-block;margin-left: 2%;margin-right: 3%;float: left;}
.infoPart2 .div1 .span1 img{width: 100%;}
.infoPart2 .div1 .span2{display: inline-block; width: 30%;float: left;  color: #848999;}
.infoPart2 .div1 .span3{float: left;color:#848999;width: 50%;  text-align: right; }
.infoPart2 .div1 .span4{width:0.5rem;position: absolute;right: 5%;top: 0;}
.infoPart2 .div1 .span4 img{width: 100%;vertical-align: middle;}
.infoborder{border-bottom: 1px #DFE3EB solid;}
.infoPart3 {height: 3.25rem; background-color: #fff;line-height: 3.25rem; text-align: center;margin-bottom: 2em;color:#2B313D}
.waptanch {z-index: 22;position: fixed;bottom: 0;background-color: #fff;width: 100%;    left: 0;}
.waptanch p{text-align: center;height: 40px;line-height: 40px;  font-size: 1em;}
.waptanch .p1{color: #f0484e;  border-bottom: 1px #DFE3EB solid;}
.waptanch .p2{color: #0050CA;}
.wapTip .p-phone{padding:2px 0;}
.wapTip .p-phone a {  font-size: 1rem; width: 100%;text-align: center;color:#f0484e;height: 40px;line-height: 40px;  border-top: 1px #DFE3EB solid;display: block;}

/*密码管理*/
.pwdMa1{  background-color: #fff;color: #2b313d;  border-top: 1px #DFE3EB solid;border-bottom: 1px #DFE3EB solid;margin-bottom: 20px;}
.pwdMa1 .div1{margin-left: 5%;font-size: 0.85rem;}
.pwdMa1 .div1 a{display: block;padding: 1rem 0; overflow: hidden; }
.pwdMa1 .div1 .span1{display: inline-block;float: left;}
.pwdMa1 .div1 .span2{width:0.5rem;display: inline-block; margin-right: 15px;float: right;}
.pwdMa1 .div1 .span2 img{width: 100%;  vertical-align: middle;}
.zh_tip{font-size: 0.9em;text-align: center;margin-top: 10px;}
/*修改登录密码*/
.bcbMargin{margin-top: 15px;}
.bcbPart1{position: relative;background-color: #fff;color: #2b313d;  border-top: 1px #DFE3EB solid;border-bottom: 1px #DFE3EB solid;margin-bottom: 20px;}
.bcbPart1 input[type="text"]{font-size: 0.85rem;width: 70%;}
.bcbPart1 input[type="password"]{font-size: 0.85rem;width: 70%;}
.bcbPart1 .div1{margin-left: 5%;  height: 3rem;overflow:hidden;}
.bcbPart1 .div1 input[type="tel"]{font-size: 0.75rem;width: 70%;height: 45px;}
.bcbPart1 .div1 .span1{float: left;height: 45px;line-height: 45px;  display: inline-block;width: 27%;font-size: 0.85rem}
.bcbPart1 .div1 .span2{float: left;width: 50%;display: inline-block;  overflow: hidden;}
.bcbPart1 .div1 .span2 select{color:#848999;width: 110%;}
.bcbPart1 .div1 .span3{display: inline-block;  width: 12px;margin-left: 3%;float: left;  line-height: 45px;}
.bcbPart1 .div1 .span3 img{width: 100%;vertical-align: middle;}
.bcbPart1 .msgCode{  position: absolute;border: 1px #f0484e solid;outline: 0;background-color: #fff; color: #f96c36;
    right: 10px;width: 83px;text-align: center;height: 25px; margin-top: 10px;border-radius: 2em;}
.bcbPart2{width: 100%;}
.bcbPart2 input[type="button"]{width: 90%;margin: 0 5%;}
.com_forget{color: #848999;font-size: 0.85rem;padding-right: 1.5em;width: 60%; margin: 10px auto;  text-align: right;}
.com_forget a{}

/*支持银行列表*/
.list_1{overflow: hidden;width: 90%;margin: 5% auto;font-size: 0.9em;}
.list_1 ul{}
.list_1 ul li{border:1px #DFE3EB solid;overflow: hidden;padding: 8px 0; margin-bottom: 6px;background-color: #ffffff; }
.list_1 ul li .span1{float: left;display: block;height: 40px;line-height: 40px;width: 45%;border-right:1px #DFE3EB dashed; }
.list_1 ul li .span1 img{width: 135px;vertical-align: middle;}
.list_1 ul li .span2{float: left;height: 40px;line-height: 40px;width: 25%;margin-left: 4%;}
.list_1 ul li .span3{float: left;width: 20%;height: 20px;margin-top: 10px;padding-left: 4%;border-left:1px #DFE3EB solid; }
.list_2{overflow: hidden;width: 90%;margin: 0 auto 20px;}
.list_2 h3{font-size: 0.95em;margin-bottom: 5px;font-weight: normal;}
.list_2 ol{padding-left: 20px;font-size: 0.95em;}
